<!DOCTYPE html>
<html lang="en">

<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'themes/riia-theme.min.css' %}" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var day_data = google.visualization.arrayToDataTable([
          ['Food group', 'number of bowls'],
          ['Fruit',     {{ day_total.fruit }}   ],
          ['Veg',       {{ day_total.veg }}     ],
          ['Dairy',     {{ day_total.dairy }}   ],
          ['Protein',   {{ day_total.protein }} ],
          ['Startch',   {{ day_total.startch }} ],
          ['Junk',      {{ day_total.junk }}    ],
          ['Unknown',   {{ day_total.unknown }} ],
        ]);


        var month_data = google.visualization.arrayToDataTable([
          ['Food group', 'number of bowls'],
          ['Fruit',     {{ month_total.fruit }}   ],
          ['Veg',       {{ month_total.veg }}     ],
          ['Dairy',     {{ month_total.dairy }}   ],
          ['Protein',   {{ month_total.protein }} ],
          ['Startch',   {{ month_total.startch }} ],
          ['Junk',      {{ month_total.junk }}    ],
          ['Unknown',   {{ month_total.unknown }} ],
        ]);

        var year_data = google.visualization.arrayToDataTable([
          ['Food group', 'number of bowls'],
          ['Fruit',     {{ year_total.fruit }}   ],
          ['Veg',       {{ year_total.veg }}     ],
          ['Dairy',     {{ year_total.dairy }}   ],
          ['Protein',   {{ year_total.protein }} ],
          ['Startch',   {{ year_total.startch }} ],
          ['Junk',      {{ year_total.junk }}    ],
          ['Unknown',   {{ year_total.unknown }} ],
        ]);


        var options = {

            chartArea: {width: "100%", height: "100%"} ,
            backgroundColor: 'transparent',
            legend: {textStyle: {color:'white', fontSize:15}},
            pieSliceTextStyle: {fontSize:13},
            height: 170,

            pieSliceBorderColor: 'black',
            slices: {
                0: {color:'purple', textStyle: {color:'white'}},
                1: {color:'green', textStyle: {color:'white'}},
                2: {color:'white', textStyle: {color:'black'}},
                3: {color:'brown', textStyle: {color:'white'}},
                4: {color:'yellow', textStyle: {color:'black'}},
                5: {color:'red', textStyle: {color:'black'}},
                6: {color:'black', textStyle: {color:'white'}},
            }
        };

        var day_chart = new google.visualization.PieChart(document.getElementById('day_piechart'));
        day_chart.draw(day_data, options);

        options.legend = 'none'
        //options.width = window.innerWidth/2 - 20
        var month_chart = new google.visualization.PieChart(document.getElementById('month_piechart'));
        month_chart.draw(month_data, options);

        var year_chart = new google.visualization.PieChart(document.getElementById('year_piechart'));
        year_chart.draw(year_data, options);
      }
    </script>
</head>

<body>
<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>Data</h1>
    <div data-role="navbar">
        <ul>
            <li><a href="{% url 'new_food_entry' %}" data-ajax="false" >New Entry</a></li>
            <li><a href="{% url 'new_food_stuff' %}" data-ajax="false" >New Food</a></li>
            <li><a href="{% url 'menu' %}" data-ajax="false" >Menu</a></li>
            {% block delete %}{% endblock %}
        </ul>       
    </div>
  </div>
  <div data-role="main" class="ui-content">
    <p>
        <b><big>Today</big></b> - total: <b>{{day_total_no_water}}</b> bowls
        <div id="day_piechart"></div>
    </p>
    <p>
        <b><big>This month</big></b> - average: <b>{{month_total_average_no_water}}</b> bowls/day
        <div id="month_piechart"></div>
    </p>
    <p>
        <b><big>This year</big></b> - average: <b>{{year_total_average_no_water}}</b> bowls/day
        <div id="year_piechart"></div>
    </p>
  </div>
</body>

</html>

