<!DOCTYPE html>
<html lang="en">

<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Food group', 'number of bowls'],
          ['Fruit',     11],
          ['Veg',      2],
          ['Dairy',  2],
          ['Protein', 2],
          ['Starch',      2],
          ['Junk',  2],
          ['Unknown', 2],
        ]);

        var options = {
          /* chartArea: {width:'80%',height:'100%'} */
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1>Data</h1>
    <div data-role="navbar">
        <ul>
            <li><a href="{% url 'new_food_entry' %}" data-ajax="false" >New</a></li>
            <li><a href="{% url 'home' %}" data-ajax="false" >List</a></li>
            {% block delete %}{% endblock %}
        </ul>       
    </div>
  </div>
  <div data-role="main" class="ui-content">
    <div id="piechart" style="width: 100%;"></div>
  </div>
</body>

</html>

