<!DOCTYPE html>
<html lang="en">

<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'themes/riia-theme.min.css' %}" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></scrip1t>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Food group', 'number of bowls'],
          ['Fruit',     {{ day_total.fruit }}   ],
          ['Veg',       {{ day_total.veg }}     ],
          ['Dairy',     {{ day_total.dairy }}   ],
          ['Protein',   {{ day_total.protein }} ],
          ['Starch',    {{ day_total.starch }}  ],
          ['Junk',      {{ day_total.junk }}    ],
          ['Unknown',   {{ day_total.unknown }} ],
        ]);

        var options = {
          /* chartArea: {width:'80%',height:'100%'} */
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>

<body>
<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>Data</h1>
    <div data-role="navbar">
        <ul>
            <li><a href="{% url 'new_food_entry' %}" data-ajax="false" >New Entry</a></li>
            <li><a href="{% url 'new_food_stuff' %}" data-ajax="false" >New Type</a></li>
            <li><a href="{% url 'menu' %}" data-ajax="false" >Menu</a></li>
            {% block delete %}{% endblock %}
        </ul>       
    </div>
  </div>
  <div data-role="main" class="ui-content">
    <div id="piechart" style="width: 100%;"></div>
  </div>
</body>

</html>

