{% extends "food/food_entry.html" %}  

{% block header %}Edit Food Entry{% endblock %}

{% block delete %}
    <a href="{% url 'delete_food_entry' food_entry.id %}" 
        onclick="return confirm('Are you sure you want to delete?');"
        >Delete</a>
{% endblock %}

{% block amount %} value="{{ food_entry.amount }}" {% endblock %}
{% block quantity_formula %} value="{{ food_entry.quantity }}" {% endblock %}
{% block quantity %} value="{{ quantity }}" {% endblock %}
{% block food_stuff %} value="{{ food_entry.food_stuff }}" {% endblock %}
{% block ingredients %} value="{{ food_entry.ingredients }}" {% endblock %}
{% block fruit %} value="{{ food_entry.fruit }}" {% endblock %}
{% block veg %} value="{{ food_entry.veg }}" {% endblock %}
{% block dairy %} value="{{ food_entry.dairy }}" {% endblock %}
{% block protein %} value="{{ food_entry.protein }}" {% endblock %}
{% block water %} value="{{ food_entry.water }}" {% endblock %}
{% block startch %} value="{{ food_entry.startch }}" {% endblock %}
{% block junk %} value="{{ food_entry.junk }}" {% endblock %}
{% block unknown %} value="{{ food_entry.unknown }}" {% endblock %}
