{% extends "food/food_stuff.html" %}  


{% block amount %} value="{{ food_stuff.amount }}" {% endblock %}
{% block quantity %} value="{{ food_stuff.quantity }}" {% endblock %}
{% block food_stuff %} value="{{ food_stuff.name }}" {% endblock %}
{% block ingredients %}{{ food_stuff.ingredients }}{% endblock %}
{% block fruit %} value="{{ food_stuff.fruit }}" {% endblock %}
{% block veg %} value="{{ food_stuff.veg }}" {% endblock %}
{% block dairy %} value="{{ food_stuff.dairy }}" {% endblock %}
{% block protein %} value="{{ food_stuff.protein }}" {% endblock %}
{% block water %} value="{{ food_stuff.water }}" {% endblock %}
{% block startch %} value="{{ food_stuff.startch }}" {% endblock %}
{% block junk %} value="{{ food_stuff.junk }}" {% endblock %}
{% block unknown %} value="{{ food_stuff.unknown }}" {% endblock %}
