<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    -->

    <script src="{% url 'food_entry_js' %}"></script>

</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1>{% block header %}New Food Entry{% endblock %}</h1>
    <div data-role="navbar">
        <ul>
            <li><a id="save">Save</a></li>
            <li><a id="reset">Reset</a></li>
            <li><a href="{% url 'home' %}">Cancel</a></li>
            <li>{% block delete %}<a> </a>{% endblock %}</li>
        </ul>       
    </div>
  </div>
        
  <div data-role="main" class="ui-content">
    <form method="POST" name="form" id="form"
        {% block action %} action="{% url 'new_food_entry' %}" {% endblock %}> 
        {% csrf_token %}

        {% block diffrent_for_food_stuff %}
        <p>
            Here be date and time
        </p>

        <table style="width:100%">
            <tr>
                <td>Amount:</td>
                <td><input type="text" name="amount" id="amount" maxlength="30" required 
                    {% block amount %}{% endblock %}></td>
            </tr>
        </table>
        <table style="width:100%">
            <col width="75%">
            <col width="0%">
            <col width="25%">
            <tr>
                <td style="witdh:10px"><input type="text" name="quantity_formula" id="quantity_formula"
                    {% block quantity_formula %}{% endblock %}></td>
                <td> = </td>
                <td><input type="number" step="0.01" name="quantity" id="quantity" required 
                    {% block quantity %}{% endblock %}></td>
            </tr>
        </table>        

        <table style="width:100%">
            <tr>
                <td>Type:</td>
                <td><input list="food_stuffs" name="food_stuff" id="food_stuff"
                    autocomplete="off" maxlength="30" required
                    {% block food_stuff %}{% endblock %}></td>
            <datalist id="food_stuffs">
            {% for food_stuff in food_stuffs %}
                <option value="{{ food_stuff.name }}">
            {% endfor %}
            </datalist>
                <td><button type="button" id="get_info">Get info</button></td>
            </tr>
        </table>
        {% endblock %}
        
        <p>
            <textarea style="width:100%" name="ingredients" id="ingredients" 
                maxlength="500" {% block ingredients %}{% endblock %}></textarea>
        </p>

        <table style="width:100%">
            <tr>
                <td>Fruit:</td>
                <td><input type="number" name="fruit" id="fruit" 
                        min="0" max="100" class="percent"
                        {% block fruit %}{% endblock %}></td>
                <td>%</td>
                <td>Veg:</td>
                <td><input type="number" name="veg" id="veg" 
                        min="0" max="100" class="percent"
                        {% block veg %}{% endblock %}></td>
                <td>%</td>
            <tr>
            <tr>
                <td>Dairy:</td>
                <td><input type="number" name="dairy" id="dairy"
                        min="0" max="100" class="percent"
                        {% block dairy %}{% endblock %}></td>
                <td>%</td>
                <td>Protein:</td>
                <td><input type="number" name="protein" id="protein"
                        min="0" max="100" class="percent"
                        {% block protein %}{% endblock %}></td>
                <td>%</td>
            <tr>
            <tr>
                <td>Water:</td>
                <td><input type="number" name="water" id="water"
                        min="0" max="100" class="percent"
                        {% block water %}{% endblock %}></td>
                <td>%</td>
                <td>Startch:</td>
                <td><input type="number" name="startch" id="startch"
                        min="0" max="100" class="percent"
                        {% block startch %}{% endblock %}></td>
                <td>%</td>
            <tr>
            <tr>
                <td>Junk:</td>
                <td><input type="number" name="junk" id="junk"
                        min="0" max="100" class="percent"
                        {% block junk %}{% endblock %}></td>
                <td>%</td>
                <td>Unknown:</td>
                <td><input type="number" name="unknown" id="unknown"
                        min="0" max="100" class="percent" 
                        {% block unknown %} value="100" {% endblock %}></td>
                <td>%</td>
            <tr>
        </table>
    </form>
  </div>
<div>
</body>
</html>


