<!DOCTYPE html>

{% extends "food/food_entry.html" %}  

{% block header %}New/Edit Food Type{% endblock %}

{% block delete %}
    <li><input type="submit" form="form" value="Delete"
        formaction="{% url 'delete_food_stuff' %}" 
        onclick="return confirm('Are you sure you want to delete?');"
        data-ajax="false"></li>
{% endblock %}


{% block diffrent_for_food_stuff %}
<p> If you enter a name that allredy exists you will save over the information under this name. </p>
{% endblock %}

{% block food_stuff_name_label %}Name:{% endblock %}

