<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){

            {% if food_entry %}
                $("#amount").val("{{ food_entry.amount }}")
                $("#quantity").val("{{ food_entry.quantity }}")
                $("#description").text("{{ food_entry.description }}")
                $("#fruit").val("{{ food_entry.fruit }}")
                $("#veg").val("{{ food_entry.veg }}")
                $("#dairy").val("{{ food_entry.dairy }}")
                $("#water").val("{{ food_entry.water }}")
                $("#startch").val("{{ food_entry.startch }}")
                $("#protein").val("{{ food_entry.protein }}")
                $("#junk").val("{{ food_entry.junk }}")
                $("#unknown").val("{{ food_entry.unknown }}")
            {% endif %}

            $(".percent").change(function(){
                $("#unknown").val(
                    100
                    - $("#fruit").val() 
                    - $("#veg").val() 
                    - $("#dairy").val() 
                    - $("#protein").val() 
                    - $("#water").val() 
                    - $("#startch").val() 
                    - $("#junk").val() 
                );
            });   
            
            $("#get_info").click(function(){
                $.post("{% url 'get_food_stuff_info' %}",
                    {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        food_stuff_name: $("#food_stuff").val()
                    },
                    function(response, status){
                        if (response == "does_not_exist"){
                            alert('"'+$("#food_stuff").val()+'"'
                                  + " does not exixt yet");
                        }
                        else {
                            var food_stuff = JSON.parse(response)[0]["fields"];
                            $("#ingredients").val(food_stuff["ingredients"]);
                            $("#fruit").val(food_stuff["fruit"]);
                            $("#veg").val(food_stuff["veg"]);
                            $("#dairy").val(food_stuff["dairy"]);
                            $("#protein").val(food_stuff["protein"]);
                            $("#water").val(food_stuff["water"]);
                            $("#startch").val(food_stuff["startch"]);
                            $("#junk").val(food_stuff["junk"]);
                            $("#unknown").val(food_stuff["unknown"]);
                        }
                    }
                );
            }); 
                 
        });
    </script>

</head>
<body>
    <form method="POST" name="form"> {% csrf_token %}
        <p>
            <input type="submit" value="Save">
            <a href="{% url 'home' %}">Cancel</a>
            {% if food_entry %}
            <a href="{% url 'delete_food_entry' food_entry.id %}" 
                onclick="return confirm('Are you sure you want to delete?');"
                >Delete</a>
            {% endif %}
        </p>
        <p>
            Amount:
            <input type="text" name="amount" id="amount" 
                maxlength="30" required >
            <input type="number" name="quantity" id="quantity" 
                min="0" required step="0.01">
        </p>        

        <p>
            Type:
            <input list="food_stuffs" name="food_stuff" id="food_stuff"
                autocomplete="off" maxlength="30">
            <datalist id="food_stuffs">
            {% for food_stuff in food_stuffs %}
                <option value="{{ food_stuff.name }}">
            {% endfor %}
            </datalist>
            <input type="button" id="get_info" value="Get info">
        </p>
        
        <p>
            <textarea style="width:100%" name="ingredients" id="ingredients" 
                maxlength="500"></textarea>
        </p>

        <table style="width:100%">
            <tr>
                <td>Fruit:</td>
                <td><input type="number" name="fruit" id="fruit" 
                        min="0" max="100" class="percent">%</td>
                <td>Veg:</td>
                <td><input type="number" name="veg" id="veg" 
                        min="0" max="100" class="percent">%</td>
            <tr>
            <tr>
                <td>Dairy:</td>
                <td><input type="number" name="dairy" id="dairy"
                        min="0" max="100" class="percent">%</td>
                <td>Protein:</td>
                <td><input type="number" name="protein" id="protein"
                        min="0" max="100" class="percent">%</td>
            <tr>
            <tr>
                <td>Water:</td>
                <td><input type="number" name="water" id="water"
                        min="0" max="100" class="percent">%</td>
                <td>Startch:</td>
                <td><input type="number" name="startch" id="startch"
                        min="0" max="100" class="percent">%</td>
            <tr>
            <tr>
                <td>Junk:</td>
                <td><input type="number" name="junk" id="junk"
                        min="0" max="100" class="percent">%</td>
                <td>Unknown:</td>
                <td><input type="number" name="unknown" id="unknown"
                        min="0" max="100" class="percent" 
                        value=100>%</td>
            <tr>
        </table>
    </form>   
</body>
</html>


