<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1>Menu</h1>
  </div>
        
  <div data-role="main" class="ui-content">
    <a href="{% url 'data' %}" data-ajax="false" class="ui-btn">Data</a>
    <a href="{% url 'new_food_entry' %}" data-ajax="false" class="ui-btn">New Food Entry</a>
    <a href="{% url 'food_entry_list' %}" data-ajax="false" class="ui-btn">Food Entry List</a>
    <a href="{% url 'new_food_stuff' %}" data-ajax="false" class="ui-btn">New Food Type</a>
    <a href="{% url 'food_stuff_list' %}" data-ajax="false" class="ui-btn">Food Stuff List</a>
  </div>
</div>

</body>
</html>
